#score-box {
  width: 100px;
  height: 30px;
  padding: 20px;
  margin: auto;
  position: absolute;
    left: 0;
  border: 2px solid black;
 
}

#title {
    width: 100px;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

#question-box {
    width: 500px;
    height:300px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
}

#timer-box {
  width: 100px;
  height: 30px;
  padding: 20px;
  margin: auto;
  position: absolute;
    right: 0;
    top:
  border: 2px solid black;
 
}
