#scoreBox {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: auto;
  position: absolute;
    left: 0;
    top: 0;
  border: 2px solid black;
  text-align: center, top;
 
}

#title {
    width: 100px;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

#question-box {
    width: 500px;
    height:300px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
}

#timer-box {
  width: 200px;
  height: 100px;
  padding: 20px;
  margin: auto;
  position: absolute;
    right: 0;
    top: 0;
  border: px solid black;
 
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
